@import url(" https://fonts.googleapis.com/css?family=Inter: 400italic, 100, 600italic, 600, 500 italic, 100italic, 500,400");

.desktop-1-o-nas {
    align-items: flex-start;
    background-color: #F0E4E4;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1870px;
    overflow: hidden;
    width: 1440px;
}

div {
    margin: 0px auto;
}

head {
    margin: 0px auto;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group2 {
    height: 674px;
    margin-top: 13px;
    position: relative;
    width: 1533px;
}

.image-4 {
    height: 277px;
    left: 526px;
    object-fit: cover;
    position: absolute;
    top: 397px;
    width: 388px;
}

.text-2 {
    left: 44px;
    position: absolute;
    top: 0;
    width: 238px;
    font-size: 40px;
    font-style: italic;
    font-family: 'Inter';
    color: #000000;
}

.desktop-1-o-nas .text {
    letter-spacing: 0;
    line-height: normal;
}

.rectangle-5 {
    background-color: #d9d9d9;
    height: 260px;
    top: 283px;
    width: 1533px;
}

.desktop-1-o-nas .rectangle {
    left: 0;
    position: absolute;
}

.image-6 {
    height: 277px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 397px;
    width: 388px;
}

.image-2 {
    height: 277px;
    left: 526px;
    object-fit: cover;
    position: absolute;
    top: 58px;
    width: 388px;
}

.image-1-1 {
    height: 277px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 58px;
    width: 388px;
}

.image-5 {
    height: 277px;
    left: 1009px;
    object-fit: cover;
    position: absolute;
    top: 397px;
    width: 389px;
}

.image-3 {
    height: 277px;
    left: 1009px;
    object-fit: cover;
    position: absolute;
    top: 58px;
    width: 389px;
}

.overlap-group {
    height: 430px;
    position: relative;
    width: 1517px;
}

.text-12 {
    cursor: pointer;
    left: 140px;
    position: absolute;
    top: 18px;
    width: 100px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #F0E4E4;

}


.bake-pizza {
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 195px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #F0E4E4;

}

.rectangle-2 {
    height: 430px;
    object-fit: cover;
    top: 0;
    width: 1440px;
}

.text-11 {
    left: 380px;
    position: absolute;
    top: 18px;
    width: 106px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #F0E4E4;

}

.logoza-2 {
    height: 60px;
    left: 40px;
    position: absolute;
    top: 11px;
    width: 100px;
}

.phone {
    left: 1220px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 297px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #F0E4E4;

}

.text-9 {
    left: 880px;
    position: absolute;
    top: 18px;
    width: 241px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #F0E4E4;

}

.image-container {
    align-items: flex-start;
    align-self: center;
    display: flex;
    gap: 95px;
    margin-left: 1px;
    margin-top: 57px;
    min-width: 1355px;
}

.image-12 {
    height: 248px;
    object-fit: cover;
    width: 389px;
    left: 43px;
    position: relative;
}

.image-1 {
    height: 248px;
    object-fit: cover;
    width: 388px;
    left: 43px;
    position: relative;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: #ae6056;
    display: flex;
    height: 165px;
    margin-top: 27px;
    min-width: 1440px;
}

.text-7 {
    margin-top: 10px;
    min-height: 44px;
    width: 232px;
    position: absolute;
    width: 232px;
    height: 44px;
    left: 980px;
    top: 1705px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.text-8 {
    position: absolute;
    width: 232px;
    height: 44px;
    left: 1258px;
    top: 1719px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.frame-2 {
    align-items: flex-end;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
    margin-top: 11px;
    min-width: 88px;
}

.text-5 {
    margin-bottom: -13px;
    margin-left: 232px;
    min-height: 79px;
    width: 214px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    color: #FFFFFF;
    left: -250px;
}

.instagram_png3-1 {
    cursor: pointer;
    height: 88px;
    margin-bottom: -13px;
    object-fit: cover;
    width: 88px;
    left: -210px;
    position: relative;
}

.text-6 {
    position: absolute;
    width: 214px;
    height: 79px;
    right: 100px;
    bottom: -650px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.flex-col {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 17px;
    min-height: 152px;
    width: 280px;
}

.copyright {
    align-self: flex-end;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 22px;
    min-height: 30px;
    width: 260px;
}

.logoza-3 {
    position: absolute;
    width: 200px;
    height: 105px;
    left: 100px;
    top: 1765px;
}

.overlap-group4 {
    align-self: center;
    height: 189px;
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;
    width: 316px;
}

.frame-3 {
    background-image: url(img1/odnoklassniki-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    height: 62px;
    left: 154px;
    position: relative;
    top: 47px;
    width: 62px;
}

.frame-1 {
    background-image: url(img1/vk-1@2x.png );
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    height: 62px;
    left: -110px;
    position: relative;
    top: -20px;
    width: 62px;
}

.text-4 {
    color: #F0E4E4;
    font-family: 'Inter';
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    left: 50px;
    position: relative;
    top: 22px;
    width: 223px;
}

.overlap-group3 {
    align-self: center;
    height: 247px;
    margin-top: 9px;
    position: relative;
    width: 1360px;
}

.bake-pizza-1 {
    color: #000000;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 100;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 1360px;
}

.span1 {
    font-style: italic;
}

.text-1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 379px;
    font-size: 40px;
    font-style: italic;
    font-family: 'Inter';
    color: #000000;
}

.text-3 {
    left: 0;
    position: absolute;
    top: 160px;
    width: 1358px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    line-height: 29px;
}